<div class="container text-center" id="profile-frame">
  <div  id="user-img-profile">
      <img src="{{user.image}}" alt=""  />
  </div>
  <h1 class="my-5">{{user.name}}</h1>
  <p class="mb-5">
    <small >{{user.description}}</small>
  </p>
  <input type="text" value="{{user.id}}" id="userID" hidden />
  {{#if isOwner}}
    <div id="MapProfile"></div>
    <div class="col-12 mb-3 mt-5">
      <a href="/auth/edit?id={{user._id}}" class="btn btn-dark mx-5">Edit
        Profile</a>
    </div>
    <div class="col-12 my-3">
      <a href="/auth/logout" class="btn btn-dark mx-5">Log Out</a>
    </div>
    <div class="col-12 my-3">
      <form action="/auth/{{user._id}}/delete" method="POST">
        <button type="submit" class="btn btn-danger mx-3">Delete Profile</button>
      </form>
    </div>
  {{/if}}
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/MapsAPI/index.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{keymaps}}&callback=ProfileMap"
></script>