<div class="container text-center mt-5">
  <img src="{{user.image}}" alt="" id="user-img-profile" />
  <h1 class="my-5">{{user.name}}</h1>
  <p>
    <small class="text-muted">{{user.description}}</small>
  </p>
  <div class="col-12 mb-3 mt-5">
    <a href="/auth/edit?id={{user._id}}" class="btn btn-dark mx-5">Edit Profile</a>
  </div>
  <div class="col-12 my-3">
    <a href="/auth/logout" class="btn btn-dark mx-5">Log Out</a>
  </div>
  <div class="col-12 my-3">
    <form action="/auth/{{user._id}}/delete" method="POST">
      <button type="submit" class="btn btn-danger mx-3">Delete Profile</button>
    </form>
  </div>
</div>