<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'>
   <link rel='stylesheet' href="/stylesheets/style.css" />
</head>

<body>

   <nav class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand" href="/">
         <svg width="100" height="40" viewBox="0 0 536 180" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M201.839 78.694H200.528V134H185.271V50.8027H206.726L225.678 106.109H226.989V50.8027H242.246V134H220.791L201.839 78.694ZM259.005 134V50.8027H312.166V65.4635H276.884V84.5345H310.974V99.1954H276.884V119.339H312.166V134H259.005ZM391.383 134H371.001L362.419 117.432L356.579 104.321H355.506L349.546 117.432L340.726 134H322.012L345.374 90.971L323.562 50.8027H343.944L350.738 64.0332L356.817 77.3829H357.77L363.969 64.0332L371.12 50.8027H389.834L368.021 91.2094L391.383 134ZM416.844 50.8027V103.486C416.844 106.109 416.924 108.532 417.083 110.757C417.321 112.903 417.798 114.73 418.513 116.24C419.307 117.75 420.46 118.942 421.969 119.816C423.479 120.611 425.545 121.008 428.168 121.008C430.79 121.008 432.856 120.611 434.366 119.816C435.875 118.942 436.988 117.75 437.703 116.24C438.498 114.73 438.974 112.903 439.133 110.757C439.372 108.532 439.491 106.109 439.491 103.486V50.8027H457.37V101.102C457.37 106.824 456.973 111.83 456.178 116.121C455.463 120.412 454.033 123.988 451.887 126.848C449.742 129.709 446.762 131.855 442.948 133.285C439.133 134.715 434.207 135.43 428.168 135.43C422.128 135.43 417.202 134.715 413.387 133.285C409.573 131.855 406.593 129.709 404.448 126.848C402.302 123.988 400.832 120.412 400.038 116.121C399.323 111.83 398.965 106.824 398.965 101.102V50.8027H416.844ZM498.326 135.43C491.333 135.43 485.255 134.278 480.09 131.974C474.924 129.669 470.753 126.531 467.574 122.557L477.944 111.115C480.964 114.452 484.261 116.916 487.837 118.505C491.492 120.094 495.187 120.889 498.922 120.889C503.213 120.889 506.471 119.935 508.696 118.028C510.921 116.121 512.033 113.379 512.033 109.804C512.033 106.864 511.159 104.639 509.411 103.129C507.743 101.619 504.882 100.546 500.829 99.9105L492.128 98.4802C484.659 97.2088 479.255 94.4674 475.918 90.2558C472.58 85.9649 470.912 80.7601 470.912 74.6414C470.912 66.6157 473.534 60.4176 478.778 56.0472C484.023 51.5973 491.373 49.3723 500.829 49.3723C507.266 49.3723 512.868 50.3656 517.636 52.3522C522.403 54.3387 526.257 57.0405 529.197 60.4574L519.066 71.7808C516.841 69.3174 514.219 67.4103 511.199 66.0595C508.18 64.6291 504.763 63.914 500.948 63.914C492.923 63.914 488.91 67.2117 488.91 73.8071C488.91 76.6677 489.784 78.8132 491.532 80.2435C493.36 81.6739 496.3 82.7466 500.352 83.4618L509.054 85.0113C515.808 86.2032 521.013 88.746 524.668 92.6397C528.323 96.5334 530.151 101.778 530.151 108.373C530.151 112.267 529.476 115.883 528.125 119.22C526.774 122.478 524.748 125.339 522.046 127.802C519.344 130.186 516.007 132.053 512.033 133.404C508.14 134.755 503.571 135.43 498.326 135.43Z" fill="white"/>
            <g clip-path="url(#clip0_6_72)">
            <path d="M96.1781 47.2738C88.8425 53.7944 85.5822 66.0204 83.9521 72.5409C82.3219 79.0615 78.2466 101.883 78.2466 101.883C84.4519 94.7395 89.6613 86.7883 93.7329 78.2464C100.253 64.3902 96.1781 47.2738 96.1781 47.2738Z" fill="white"/>
            <path d="M107.589 118.185C114.925 107.589 118.185 86.3972 110.034 70.9109L68.4658 165.459C68.4658 165.459 100.343 128.65 107.589 118.185Z" fill="white"/>
            <path d="M68.4658 178.206C88.0275 171.164 97.1481 166.372 106.774 158.123C118.185 148.342 119 133.671 119 133.671L68.4658 178.206Z" fill="white"/>
            <path d="M59.5001 -0.00012207L2.44531 8.15056L17.9316 38.3081H44.8289L59.5001 179.315L74.1713 38.3081H101.069L116.555 8.15056L59.5001 -0.00012207Z" fill="white"/>
            <path d="M35.0481 72.5409C33.4179 66.0204 30.1576 53.7944 22.822 47.2738C22.822 47.2738 18.7467 64.3902 25.2672 78.2464C29.3388 86.7883 34.5482 94.7395 40.7535 101.883C40.7535 101.883 36.6782 79.0615 35.0481 72.5409Z" fill="white"/>
            <path d="M11.4109 118.185C18.6568 128.65 50.5341 165.459 50.5341 165.459L8.96565 70.9109C0.814962 86.3972 4.07524 107.589 11.4109 118.185Z" fill="white"/>
            <path d="M12.226 158.123C21.852 166.372 30.9726 171.164 50.5342 178.206L0 133.671C0 133.671 0.815069 148.342 12.226 158.123Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_6_72">
            <rect width="119" height="179.315" fill="white"/>
            </clipPath>
            </defs>
         </svg>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
            {{#if user}}
            <li class="nav-item">
               <a class="nav-link" href="/cyber">All Cybers</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/cyber/create-new-cyber">Join Us!</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/auth/logout">Log out</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/auth/{{user.id}}"> <img src="{{user.image}}" alt="Profile" id="user-img">
               </a>
            </li>
            {{else}}
            <li class="nav-item">
               <a class="nav-link" href="/auth/login" id="login-btn">Login</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/auth/signup" id="sign-btn">Sign Up</a>
            </li>
            {{/if}}
      </div>
   </nav>
   <main class="mt-5">
      {{{body}}}
   </main>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/NewsAPI/APIHandler.js"></script>
<script src="/js/NewsAPI/index.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
crossorigin="anonymous"></script>
</body>

</html>