<h1 class="my-4 text-center">All Cybers</h1>
<div class="container">
  {{! Search }}
  <form method="POST" action="/cyber">

    <label>Buscar cyber</label>
    <div>
      <input type="text" name="name" placeholder="Cyber's name" />
      <input type="text" name="location_name" placeholder="Cyber's Location" />

      <input type="submit" name="Buscar" id="submit" value="Buscar" />
      <a href="/cyber">Quit filter</a>
    </div>
  </form>
  <div class="column">
    <div class="row justify-content-between" id="all-cyber-section">
      {{#each AllCybers}}
        <div class="card mb-5 col-md-5" id="card-cyber" style="max-width: 540px;">
          <a href="/cyber/details-cyber?id={{id}}">
            <div class="row g-0">
              <div class="col-md-4" id="img-space">
                <img src="{{image}}" class="img-fluid rounded-start" alt="Cyber-Image" />
              </div>
              <div class="col-md-8">
                <div class="card-body">

                  <h5 class="card-title">{{name}}</h5>

                  <p class="card-text"><small class="text-muted">{{location_name}}</small></p>
                  <p class="card-text">{{description}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</div>