<div class="container cyber-details">
  {{#if isOwner}}
    {{#with cyber}}
      <h1>{{{name}}}</h1>
      <div class="row">
        <div class="col-md-4 img">
          <img src={{{image}}} alt="Cyber-image" />
        </div>
        <div class="col-md-8">
          <h4>{{{location_name}}}</h4>
          <p>{{{description}}}</p>
          <input id="latitude" type="text" value={{location.coordinates.[0]}} hidden />
          <input id="longitude" type="text" value={{location.coordinates.[1]}} hidden />
          <p>Owner:
            <a href="/auth/{{owner.id}}">
              {{#each owner}}
                {{name}}
              {{/each}}
            </a>
          </p>
        </div>
        <div id="mapDetails" class="col-md-10 justify-content-center"></div>
      </div>
    {{/with}}
  {{else}}
    {{#with cyber}}
      <h1>{{{name}}}</h1>
      <div class="row">
        <div class="col-md-4 img">
          <img src={{{image}}} alt="Cyber-image" />
        </div>
        <div class="col-md-8">
          <h4>{{{location_name}}}</h4>
          <p>{{{description}}}</p>
          <input id="latitude" type="text" value={{location.coordinates.[0]}} hidden />
          <input id="longitude" type="text" value={{location.coordinates.[1]}} hidden />
          <p>Owner:
            <a href="/auth/visit/{{owner.id}}">
              {{#each owner}}
                {{name}}
              {{/each}}
            </a>
          </p>
        </div>
        <div id="mapDetails" class="col-md-10 justify-content-center"></div>
      </div>
    {{/with}}
  {{/if}}
  <div class="d-flex row cyber-details-buttons">
    <a href="/cyber" class="btn btn-dark mx-3">Back to Cybers</a>
    <a href="/cyber/book-cyber?id={{id}}" class="btn btn-dark mx-3">Book a PC</a>
    {{#if isOwner}}
      <a href="/cyber/edit?id={{cyber.id}}" class="btn btn-dark mx-5">Edit Cyber</a>
      <form action="/cyber/{{cyber.id}}/delete" method="POST">
        <button type="submit" class="btn btn-dark mx-3">Delete Cyber</button>
      </form>
    {{/if}}
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/MapsAPI/index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{keymaps}}&callback=DetailsMap"></script>