<h1>Edit {{cyber.name}}</h1>
<form action="/cyber/{{cyber.id}}/edit" method="POST">
  <div class="my-5">
    <h5>Cyber`s location</h5>
    <input
      id="searchInput"
      class="controls"
      type="text"
      value={{cyber.location_name}}
      name="location_name"
      required
    />
  </div>
  <div id="map"></div>
  <div class="form-group">
    <label for="name">Cyber`s name</label>
    <input type="text" class="form-control" id="name" name="name" required value={{cyber.name}}>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      type="text"
      class="form-control"
      id="username"
      name="description"
    >{{cyber.description}}</textarea>
  </div>

  <input type="text" name="lat" id="lat" hidden />
  <input type="text" name="lng" id="log" hidden />

  <button type="submit" class="btn btn-dark btn-block" id="create-btn">Create it</button>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/MapsAPI/index.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{keymaps}}&callback=initMap"
></script>