<div class="container">
  {{#with cyber}}
    <h1>{{{name}}}</h1>
    <div class="row">
      <div class="column col-md-4">
        <div>
          <img src={{{image}}} alt="Cyber-image" />
        </div>
        <div id="mapDetails"></div>
      </div>
      <div class="col-md-8">
        <h4>{{{location_name}}}</h4>
        <p>{{{description}}}</p>
      </div>
    </div>
  {{/with}}

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/MapsAPI/index.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{keymaps}}&callback=DetailsMap"
></script>