<div class="container">
  {{#if isOwner}}
    {{#with cyber}}
    <h1 class="my-4 text-center title-details-cybers">{{{name}}}</h1>
      <div class="row">
        <div class="col-md-6 img-details">
          <img src={{{image}}} alt="Cyber-image"/>
        </div>
        <div class="col-md-6">
          <h4>{{{location_name}}}</h4>
          <p>{{{description}}}</p>
          <input
            id="latitude"
            type="text"
            value={{location.coordinates.[0]}}
            hidden
          />
          <input
            id="longitude"
            type="text"
            value={{location.coordinates.[1]}}
            hidden
          />
          <p>Owner:
            <a href="/auth/{{owner.id}}">
              {{#each owner}}
                {{name}}
              {{/each}}
            </a>
          </p>

        </div>
        <div id="mapDetails" class="col-md-12 map-details"></div>
      </div>
    {{/with}}
  {{else}}
    {{#with cyber}}
      <h1 class="my-4 text-center title-details-cybers">{{{name}}}</h1>
      <div class="row">
        <div class="col-md-6 img-details">
          <img src={{{image}}} alt="Cyber-image"/>
        </div>
        <div class="col-md-6">
          <h4>{{{location_name}}}</h4>
          <p>{{{description}}}</p>
          <input
            id="latitude"
            type="text"
            value={{location.coordinates.[0]}}
            hidden
          />
          <input
            id="longitude"
            type="text"
            value={{location.coordinates.[1]}}
            hidden
          />
          <p>Owner:

            <a href="/auth/visit/{{owner.id}}">
              {{#each owner}}
                {{name}}
              {{/each}}
            </a>
          </p>

        </div>
        <div id="mapDetails" class="col-md-12 map-details"></div>
      </div>
    {{/with}}
  {{/if}}
  <div class="d-flex row cyber-details-buttons">
    <a href="/cyber/book-cyber?id={{cyber.id}}" class="btn btn-success mx-5">Book a PC</a>
    <a href="/cyber" class="btn btn-dark mx-5">Back to Cybers</a>
    
    {{#if isOwner}}
      <a href="/cyber/edit?id={{cyber.id}}" class="btn btn-dark mx-5">Edit Cyber</a>
      <form action="/cyber/{{cyber.id}}/delete" method="POST">
        <button type="submit" class="btn btn-danger mx-5">Delete Cyber</button>
      </form>
    {{/if}}
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/MapsAPI/index.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{keymaps}}&callback=DetailsMap"
></script>